@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;800;900&display=swap');

:root {
    --pm-bg: #141128;
    --pm-p-color: #60568a;
    --btn-hover-text: rgb(73, 73, 255);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
}
#title {
    background-color: var(--pm-bg);

    .container-fluid {
        padding: 0.5% 7% 7%;

        .navbar-brand {
            font-size: 2.5rem;
            font-weight: 500;
        }

        .start-btn {
            border: 2px solid white;
            padding: 10px !important;
            border-radius: 30px;
            padding: 10px 0;
        }

        .start-btn:hover {
            background-color: white;
        }

        .nav-btn {
            color: white;
            transition: 0.7s;
            margin: 0 8px;
        }

        .nav-btn:hover {
            color: var(--btn-hover-text);
        }

        .page-top {
            margin-top: 4rem;

            .info-box {
                padding: 2% 7% 5%;

                .important-info {
                    line-height: 1.5;
                    padding: 0% 4%;
                    color: white;
                    font-weight: 900;
                    font-size: 3rem;
                }
            }

            .title-image {
                width: 70%;
            }
        }
    }
}

#features {
    background-color: white;

    .page-features {
        padding: 3% 7%;
        text-align: center;

        .feature-box {
            padding: 4% 5%;
            display: block;
            text-align: center;
            
            .icon {
                color: var(--pm-bg);
                transition: 0.7s;
            }

            .icon:hover {
                color: var(--pm-p-color);
            }

            h3 {
                margin-top: 10px;
            }
            
            p {
                color: var(--pm-p-color);
            }
        }
    }
}

#pricing {
    background-color: var(--pm-bg);
    padding: 5%;
    text-align: center;

    h1 {
        color: white;
    }

    p {
        color: white;
    }

    .pricing-cards {

        .pricing-column {
            padding: 3% 2%;

            h2 {
                font-weight: 800;
            }
        
            p {
                color: var(--pm-p-color);
            }
        }

}


@media (max-width: 1000px) {

    #title {
        .container-fluid {
            .start-btn {
                padding: 0;
                border: 0;
                margin: 0;
            }

            .start-btn:hover {
                background-color: transparent !important;
            }

            .nav-btn {
                color: white;
                transition: 0.7s;
            }
        
            .page-top {
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}